{{if .Values.ingress.enabled -}}
{{$fullName := include "domaudit.fullname" . -}}
{{- $svcPort := .Values.service.port -}}
{{- if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else -}}
apiVersion: extensions/v1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "domaudit.labels" . | nindent 4 }}
  annotations:
  {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    {{- include "common.ingress.istioAnnotations" . | nindent 4 }}
spec:
  ingressClassName: {{ .Values.ingress.class }}
  {{- include "common.ingress.fullspec" . | indent 2 }}
{{- end }}
